<script>
  export let to;
  export let name;

  function clickHandler(event) {
    history.pushState(null, null, to)
    let triggerPopstate = new PopStateEvent('popstate');
    window.dispatchEvent(triggerPopstate);
  }
</script>

<a href={to} on:click|preventDefault|stopPropagation={clickHandler}>{name}</a>
