<div id="router-component"></div>

<script>
  export let routes;
  let currentComponent;
  let router;

  import { onMount, beforeUpdate } from "svelte";
  import RouteRecognizer from "route-recognizer";

  onMount(() => {
    router = new RouteRecognizer();

    routes.forEach(route => {
      router.add([{path: route.to, handler: route.component}]);
    });

    navHandler();
    window.addEventListener("popstate", navHandler);
  });

  async function navHandler(event) {
    let matched = router.recognize(document.location.pathname);
    if (matched && matched.length) {
      matched = matched[0];
    }

    if (currentComponent) {
      currentComponent.$destroy();
    }

    component = (await matched.handler).default;

    currentComponent = new component({
      target: document.querySelector('#router-component'),
      props: matched.params,
    });
  }
</script>
